<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Project Bamboo</title>
  <link rel="stylesheet" href="./css/bootstrap.min.css" />
  <link rel="stylesheet" href="./css/jquery.carousel.fullscreen.css" />
</head>
<body>

  <div class="masthead row">
    <div class="col-md-12">
      <h1>Project Bamboo</h1>
      <p class="lead">
        Bamboos are some of the fastest-growing plants in the world, due to a
        unique rhizome-dependent system. Bamboos are of notable economic and
        cultural significance in South Asia, Southeast Asia and East Asia,
        being used for building materials, as a food source, and as a versatile
        raw product. High-quality bamboo is stronger than steel, a property
        that has made it a choice in building materials and weaponry.
      </p>
    </div>
  </div>

  <div id="carousel-generic" class="carousel slide c-fade" data-ride="carousel">

    <div class="carousel-inner">
